<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/store" class="logo">
      <img src="http://backupparachute.com/images/bps-logo-seed-green-tilted.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/store/signup">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>

<script type="text/javascript">

$(document).ready(function() {
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");

  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>
