<script type="text/javascript">

  function addProductCard(name, descrip, price, image_url, id){
    price = parseFloat(price);
    var card = $([
      "<div class='card'>",
      "  <div class='card-image'>",
      "    <img src='"+ image_url + "' alt=''>",
      "  </div>",
      "  <div class='card-header'>",
      "    " + name,
      "  </div>",
      "  <div class='card-copy'>",
      "    <p>"+descrip+"</p>",
      "    <p>$"+price.toFixed(2)+"</p>",
      "    <button class='buy-now' data-product-id="+id+">Buy Now</button>",
      "  </div>",
      "</div>"
    ].join("\n"));
    card.appendTo('.cards');
  }

  $(document).ready(function() {
    $(document).on('click', '.buy-now', function() {
      productId = $(this).data('product-id');
      $.ajax({
        url: 'http://bps.paywithcanopy.com/api/products/buy_now/'+productId+'.json', 
        headers: { 'Accept-Version': 'v1' }, 
      })
       .done(function( data ) {
         $(location).attr('href','http://bps.paywithcanopy.com/invoices/'+data['token']+'/pay');
       });
    }); 
    if ($('.cards').length){
      $.ajax({
        url: 'http://bps.paywithcanopy.com/api/products.json', 
        headers: { 'Accept-Version': 'v1' }, 
      })
       .done(function( data ) {
         data['products'].forEach(function (product) {
           addProductCard(product["name"], product["description"], product["price"], product["image_url"], product["id"]);
         }); 
       });
    }
    
  });
</script>
