// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$row-width: rem-calc(1400);

$base-line-height: 1.4;


// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-family-sans-serif: 'Raleway', Helvetica, Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

$white: #fff;
$off-white: #fafaef;

$bps-green: #839457;

$olive: #76854f;
$olive-dark: #586438;
$olive-black: #313721;

$primary-color: $bps-green;
$secondary-color: $olive;

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(768);
$large-breakpoint:  em-calc(1024);
$xlarge-breakpoint: em-calc(1400);
