<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Backup Parachute Software</title>
    <meta name="description" content="Backup Parachute Software Company Store">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="http://backupparachute.com/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://backupparachute.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.url }}/css/site.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500,900' rel='stylesheet' type='text/css'>
  </head>
  <body class="">

    {{ content }}

  </body>
</html>
